@{
    ViewBag.Title = "All Recipes";
}

<h2>All Recipes</h2>

<div id="top" class="row">
    <div class="col-md-3">
        <div class="input-group">
            <input data-bind="value: searchTerm" class="form-control" name="search" id="search" type="text" placeholder="Search...">
            <span class="input-group-btn">
                <button data-bind="click: search" class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </div>

    <div class="col-md-9">
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary pull-right" })
    </div>
</div><!-- /top -->

<hr />

<div id="list" class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Description</th>
                    <th>Rate</th>
                    <th></th>
                </tr>
            </thead>

            <tbody data-bind="foreach: searchResults">
                <tr style="{height:50px;}">
                    <td><span data-bind="text: name"></span></td>
                    <td><span data-bind="text: description"></span></td>
                    <td><span data-bind="text: rate"></span></td>
                    <td>
                        <a data-bind="attr: { href: editUrl }" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /list -->

<div id="list" class="row">
    <div class="col-md-12">
        <ul class="pager">
            <li class="previous" data-bind="css: { 'disabled': !canPrevPage() }">
                <a data-bind="click: prevPage" href="#">&larr; Previous</a>
            </li>
            <li class="next" data-bind="css: { 'disabled': !canNextPage() }">
                <a data-bind="click: nextPage" href="#">Next &rarr;</a>
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/App/recipes.viewmodel.js"> </script>
}

